/.cache/
/build/
/downloads/
/i915-sriov-dkms/
/ich777-unraid_kernel/
/intel-mainline-tracking-v7.1-rc3/
/thor2002ro-unraid_kernel/

/out/*.zip
/out/*.zip.sha256
/out/*.tar.xz
/out/bzmodules
/out/bzmodules-*
/out/bzroot
/out/bzroot-*
/out/bzimage
/out/bzimage-*
/out/*.sha256
/out/*.txz
/out/*.txz.md5
/out/sha256sums-*.txt
/out/*-installed-modules.txt
/out/verification-*.txt
/out/depmod-*.txt

*.o
*.ko
*.cmd
*.mod
*.mod.c
Module.symvers
modules.order
